/*  START: normalize CSS */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
/*  END: normalize CSS  */
.container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrange-box {
    height: 600px;
    background-color: #fff;
    padding: 60px;
    border-radius: 6px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around ;
    position: relative;
}
.arrange-box-list {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 500px;
    border: 1px solid #333; 
    margin: 5px;
    border-radius: 6px;
}
.arrange-box-list__header {
    font-weight: 700;
    padding: 20px;
    background-color: rgb(226, 221, 221);
    border-bottom: 1px solid #333;
} 
.arrange-box-list__search {
    border-bottom: 1px solid #333;
    padding: 20px 10px;
}
.arrange-box-list input {
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 16px;
    border-radius: 3px;
}
.arrange-box-list__main {
    overflow: auto; 
}
.arrange-box-list__main li {
    padding: 10px;
}
.arrange-box-list__main li {
    display: flex;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    color: rgb(109, 106, 106);
    font-weight: normal;
}
.arrange-box-list__item {
    display: flex;
    align-items: center;
}
.arrange-box-list__item-block {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}
.arrange-box-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.arrange-box-controls__item {
    margin: 10px;
    min-width: 32px;
    height: 32px;
    background-color: #3B82F6;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
}
.arrange-box-controls__item:hover {
    background-color: #6199f5;
}
.arrange-box-controls__item:active {
    background-color: #2271f0;
}
.arrange-box-list__item-block {
    background-color: rgb(122, 122, 122);
    margin: 0 15px;
}
.arrange-box-list__item {
    background-color: #fff;
}
.arrange-box-list__item_selected {
    background-color: rgb(214, 205, 205);
}
.arrange-box-test-controls {
    position: absolute;
    top: 0;
    display: flex;
}